<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Результаты Поиска Отелей</title>
    
    <!-- Подключение Tailwind CSS -->
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- Подключение внешнего CSS -->
    <link rel="stylesheet" href="/static/css/ari-beri-search.css">

    <!-- Подключение Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
</head>
<body class="min-h-screen bg-ncloud-blue">

    <header class="sticky top-0 z-10 w-full bg-ncloud-blue shadow-lg py-4 px-6 flex justify-between items-center">
        <div class="flex items-center space-x-8">
            <img src="/static/img/Logo.png" alt="Logo" class="h-8 w-auto">
        </div>
        <div class="flex items-center space-x-3 text-white">
            <span class="font-medium">KZT/RU</span>
            <div class="flex items-center space-x-3 text-white">
                <span class="font-medium">Demalys</span>
                <span class="font-medium">Поддержка</span>
            </div>
        </div>
    </header>

    <div class="flex justify-center p-4">
        <div class="w-full max-w-7xl bg-white rounded-xl shadow-2xl mt-8 mb-12 p-8 sm:p-12 lg:p-16">
            <div class="text-center mb-10 sm:mb-16">
                <h1 class="text-3xl sm:text-4xl lg:text-5xl font-extrabold text-ncloud-text-dark">
                    Мы нашли <span class="text-ncloud-blue">128</span> отелей по вашему запросу
                </h1>
            </div>

            <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">

                <a href="hoteldashboard.html" class="hotel-card rounded-xl shadow-lg hover:shadow-xl transition duration-300 cursor-pointer block">
                    <img 
                        src="https://th.bing.com/th/id/R.1fd058afbd18730cb9c21461e7d31303?rik=wfeQ18Kx3x9NxA&pid=ImgRaw&r=0" 
                        alt="DoubleTree by Hilton Almaty" 
                        class="w-full h-full object-cover rounded-t-xl"
                        style="max-height: 85%;"
                    >
                    <div class="hotel-title rounded-b-xl">DoubleTree by Hilton Almaty</div>
                </a>                
                

                <div class="hotel-card rounded-xl shadow-lg hover:shadow-xl transition duration-300 cursor-pointer">
                    <img 
                        src="https://tse3.mm.bing.net/th/id/OIP.BXtB4V7e2_W-h6vYYtwTIQAAAA?rs=1&pid=ImgDetMain&o=7&rm=3" 
                        alt="Rixos Almaty" 
                        class="w-full h-full object-cover rounded-t-xl"
                        style="max-height: 85%;"
                    >
                    <div class="hotel-title rounded-b-xl">Rixos Almaty</div>
                </div>

                <div class="hotel-card rounded-xl shadow-lg hover:shadow-xl transition duration-300 cursor-pointer">
                    <img 
                        src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/145473939.jpg?k=256b487747c9963ab94fd1ae0c292f0fe990f72a2ebe995dc56c162209768e3e&o=&hp=1" 
                        alt="Dastan Atyrau" 
                        class="w-full h-full object-cover rounded-t-xl"
                        style="max-height: 85%;"
                    >
                    <div class="hotel-title rounded-b-xl">Dastan Atyrau</div>
                </div>

                <div class="hotel-card rounded-xl shadow-lg hover:shadow-xl transition duration-300 cursor-pointer">
                    <img 
                        src="https://tse2.mm.bing.net/th/id/OIP.N0iZ0vnnZGho7bBBvlC55gHaEK?rs=1&pid=ImgDetMain&o=7&rm=3" 
                        alt="Next Hotel 1" 
                        class="w-full h-full object-cover rounded-t-xl"
                        style="max-height: 85%;"
                    >
                    <div class="hotel-title rounded-b-xl">Гостиница Астана</div>
                </div>
                
                <div class="hotel-card rounded-xl shadow-lg hover:shadow-xl transition duration-300 cursor-pointer">
                    <img 
                        src="https://cdn.ruwiki.ru/commonswiki/files/thumb/8/85/Hotel_%22Zhetisu%22_-_%5E_-_panoramio.jpg/640px-Hotel_%22Zhetisu%22_-_%5E_-_panoramio.jpg" 
                        alt="Next Hotel 2" 
                        class="w-full h-full object-cover rounded-t-xl"
                        style="max-height: 85%;"
                    >
                    <div class="hotel-title rounded-b-xl">Отель Жетысу</div>
                </div>
                
                <div class="hotel-card rounded-xl shadow-lg hover:shadow-xl transition duration-300 cursor-pointer">
                    <img 
                        src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/13/54/0a/80/caption.jpg?w=700&h=-1&s=1" 
                        alt="Next Hotel 3" 
                        class="w-full h-full object-cover rounded-t-xl"
                        style="max-height: 85%;"
                    >
                    <div class="hotel-title rounded-b-xl">City Hotel Aktau</div>
                </div>

            </div>
        </div>
    </div>

    <!-- Подключение внешнего JS -->
    <script src="/static/js/ai-beri-search.js"></script>
</body>
</html>